@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home{
    .linkbox .logo{
      width: 159px;
    }
    .text-content{
      padding-top: 50px;
      padding-left: 47px;
    }
    .mobile, .desktop{
      display: none;
    }
    .bganimate{
      height: 1250px;
      width: 1024px;
    }
    .ipad{

      display: block;
      .bg {
        margin-bottom: 53px;
        .row {
          p{
            font-size: 37px;
            padding-left: 10px;
            margin-bottom: 4px;
            padding-bottom: 6px;
            line-height: 1;
            padding-top: 2px;
          }
        }
      }
    }
    .linkbox{
      margin-top: 270px;
      margin-bottom: 60px;
      padding-right: 48px;
      padding-bottom:0;
      .line{
        width: 37px;
      }
      .link{
        margin-right: 20px;
        ul{
          li{
            &.tw{
              width: 129px;
            }
            &.lk{
              width: 126px;
            }
            &.ins{
              width: 144px;
            }
            &.pin{
              width: 152px;
            }
            &.fb{
              width: 134px;
            }
            a{
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }

  }
}
@media only screen and (min-width: 768px) and (max-width: 970px) {
  .home {
    position: relative;
    min-width: 768px;
    overflow: hidden;
    .text-content{
      padding-top: 36px;
      padding-left: 37px;
    }
    .bganimate{
      height: 1055px;
    }
    .linkbox{
      margin-top: 124px;
      margin-bottom: 98px;
    }
    .ipad {
      .bg {
        margin-bottom: 39px;
        .row {
          p {
            font-size: 26px;
            padding-bottom: 4px;
          }
        }
      }
    }
  }
}