
/* ! PRIMARY STYLES */
html, body{width:100%; }
body {
	font: $fontArial12; color:#fff;
}
a{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  width: 100%;
  margin: 0 auto;
}
body{
  overflow-y: hidden;
  min-height: 500px;
}
body.Safari{
  .home{
    .text-content{
      .desktop{
        width: 140.846em;
      }
    }
  }
}
.home{
  .bganimate{
    background: url("../images/bg.gif") left center;
    width: 100%;
    height: 100%;
    min-height: 89.862em;
    background-size: cover;
    position: fixed;
  }
  .text-content{
    position: relative;
    padding: 7.231em 0 0 6.077em;

    .desktop{
      width: 124.846em;
    }
    .bg{
      margin-bottom: 4.846em;
      .row{

      }
      p{
        background: #33cccc;
        display: inline-block;
        padding-left: 0.190em;
        margin-bottom: 0.119em;
        font-family: "Helvetica LT W01 Bold";
        font-weight: bold;
        font-size: 3.231em;
        color: #000;
        padding-right: 0.400em;
        a, span{
          color: #fff;
        }
        a{
          text-decoration: none;
          outline: none;
          &:hover, &:active, &:focus{
            color: #fff;
          }
        }
      }
    }
  }
  .linkbox{
    float: right;
    padding-right: 10.769em;
    margin-top: 13.154em;
    padding-bottom: 5.185em;
    .link{
      margin-right: 2.308em;
      float: left;
      ul{
        li{
          padding-bottom: 0.615em;
          &.tw{
            width: 14.231em;

          }
          &.lk{
            width: 14.077em;
            margin-left:0.385em;
          }
          &.ins{
            width: 16.615em;
            margin-left: 1.000em;
          }
          &.pin{
            width: 17.462em;
            margin-left: 2.308em;
          }
          &.fb{
            width: 15.007em;
            margin-left: 5.385em;
          }
          a{
            img{
              width: 100%;
            }
          }
        }
      }
    }
    .line{
      float: left;
      width: 4.538em;
      margin-top: -7.923em;
      img{
        width: 100%;
      }
    }
    .logo{
      width: 18.000em;
      float: left;
      img{
        width: 100%;
      }
    }
  }
  .mobile, .ipad{
    display: none;
  }
}



